@import url(http://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
30% { left: 0%; }
35% { left: -100%; }
65% { left: -100%; }
70% { left: -200%; }
90% { left: -200%; }
100% { left: -300%; }
}
body, figure { 
  margin: 0;;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 25s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: 700px; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}

/*--------------------*/
/* HOME SLIDER SECTION */
/*--------------------*/

#slider{
  float: left;
  display: inline;
  width: 100%;
}
.slider_area {
  background-color: #ccc;
  display: inline;
  float: left;
  margin-top: 80px;
  width: 100%;
}
.slider_caption {
  left: 5%;
  position: absolute;
  top: 25%;
  width: 50%;
}
.slider_right_caption{
  left: 38%;
}
.slider_caption h2 {
  color: #fff;
  font-size: 33px;
  background-color: rgba(49, 59, 61, 0.6);
  padding: 8px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.slider_caption p {
  background-color: rgba(49, 59, 61, 0.6);
  color: #fff;
  font-family: "Varela",sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}
.slider_btn {
  background: rgba(49, 59, 61, 0.6);
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  font-family: "Varela",sans-serif;
  margin-top: 10px;
  padding: 9px 15px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.slider_btn:hover,.slider_btn:focus{
  text-decoration: none;
  outline: none;
}
.next,.prev{
  display: none !important;
}
.slider_area:hover .next{
  display: block !important;
}
.slider_area:hover .prev{
  display: block !important;
}

/*======================///////////////
			start responsive style
=====================///////////////////////*/


@media(max-width:1199px ){
  .slider_caption {width: 60%;}
  .slider_caption h2 {font-size: 30px;}
  .slider_right_caption {left: 35%;}
}

@media(max-width:991px ){
  .slider_caption {width: 80%;}
  .slider_right_caption {left: 15%;}



}


@media(max-width:767px ){
  .slider_caption {width: 90%;}
  .slider_right_caption {left: 5%;}
  .slider_caption h2 {font-size: 25px;line-height: 35px;}
  .slider_area {margin-top: 66px;}


}

@media(max-width:480px ){
  .slider_right_caption {top: 15%;}
  .slider_caption h2 {font-size: 20px;line-height: 30px;}
  .slider_caption p { font-size: 13px;}
  .slider_btn {font-size: 13px;padding: 5px 10px;}


}

@media(max-width:360px ){


}

@media(max-width:320px ){


}

